<div class="chat col-xs-12">
  <div class="card">
    ...
    <ul class="list-group list-group-flush online-list-sub">
      <li class="list-group-item" *ngFor="let user of getUsers(chat.users)">
        {{user.state.username}}
        <span *ngIf="user.isTyping">is typing...</span>
      </li>
    </ul>
    <div class="card-body">
      ...
      <div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Message..." [(ngModel)]="message"
                 (ngModelChange)="chat.typingIndicator.startTyping()">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" (click)="send()">Send</button>
            </span>
        </div>
      </div>
      <hr/>
      <div class="card-body">
        ...
      </div>
    </div>
  </div>
</div>
